body {
    background-color: white;
    padding-top: 20px;
    position: relative;
}

.footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 45px;
    padding: 35px 0;
}

.chordimate {
    display: inline-block;
    width: 800px;
    height: 200px;
}

.chordimate .fadeout {
    /* This is the Class of Shame */
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.chordimate .bg {
    background: url(wood-texture.jpg);
}

.chordimate .bg:after {
    content: '';
    position: absolute;
    top: 0;
    height: 6px;
    width: 100%;
    background: #edd9a7;
    border-bottom: 1px solid #333;
}

.chordimate .bg:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 6px;
    width: 100%;
    background: #edd9a7;
    border-top: 1px solid #333;
}

.chordimate .fret, .chordimate .bridge {
    margin-left: -2px;
    width: 4px;
    border-radius: 6px;
    background: #bbb;
    box-shadow: 0px 1px 2px #fff inset,
                -1px 0px 1px black;
    top: 5%;
    height: 90%;
}

.chordimate .bridge {
    width: 10px;
}

.chordimate .string {
    background: url(string.png);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#666));
    background: -moz-linear-gradient(top,  #eee,  #666);
    box-shadow: 0px 1px 3px black;
    border-radius: 3px;
}

.chordimate .tuning-label {
    margin: -13px 0 0 -30px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    color: black;
}

.chordimate .note-label {
    margin: -13px 0 0 -30px;
    text-align: center;
    line-height: 26px;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    color: white;
    font-size: 15px;
    text-shadow: 1px 1px 1px black;
    background: #68e;
    border: 1px solid #666;
    border-radius: 13px;
    box-shadow: 2px 2px 2px black;
}

.chordimate .inlay {
    background: url(inlay.jpg);
    box-shadow: 2px 2px 5px white inset;
    top: 20%;
    height: 60%;
    border: 1px solid #444;
    border-radius: 2px;
}

footer {
    text-align: center;
}

